body {
  font-family: Arial, sans-serif;
  background-color: #464646;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
