body {
  background-color: #d8d8d8;
}
input[type="checkbox"] {
  accent-color: red;
}
h5 {
  color: gray;
  font-size: 15px;
}
h1 {
  font-size: 50px;
  padding: 10px;
  color: #0074ff;
}
.sumbit {
  color: white;
  background-color: #2ac121;
  font-size: 30px;
}
.sumbit:hover {
  background-color: #053602;
  color: white;
}
.shadowbox {
  width: 30em;
  border: 1px solid #333;
  box-shadow: 12px 12px 10px #444;
  padding: 13px 17px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}
