/* src/components/Board.css */

.board {
  margin: 20px;
}

h1 {
  text-align: center;
}

.button-container {
  text-align: center;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-container input,
.input-container textarea,
.input-container select {
  padding: 5px;
  margin-bottom: 5px;
}

.input-container select {
  width: 100%;
}

.task-container {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.task-container h3 {
  margin: 0;
  margin-bottom: 5px;
}

.task-container p {
  margin: 0;
}

.square {
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  margin-right: 5px;
  border-radius: 5px;
}

.task-name {
  font-weight: bold;
}